.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section {
    margin: 32px;
}
.lineBreak {
    height: 1px;
    background-color: var(--color-primary);
    margin: 5px 5px;
}
.songTabs {
    margin: 5px;
    color: var(--color-white);
}